.navigation {
    position: relative;
    top: 0;
    padding: 20px 0;
    background: #26292D;
    border-bottom: 4px #5c62ec solid;
    z-index: 3;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: block;
        color: #FFF;
        font-size: 24px;
        font-weight: 700;
        transition: color 0.1s ease-in;
        position: relative;
        z-index: 2;

        &:hover {
            color: #5c62ec;
        }
    }

    ul {
        display: flex;
        column-gap: 40px;
        align-items: center;
    }

    ul a {
        position: relative;
        color: #fdfdfd;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.8px;
        transition: color 0.1s ease-in;

        &::after {
            content: "";
            display: block;
            width: 0%;
            height: 1px;
            border-radius: 2px;
            background: #5c62ec;

            position: absolute;
            top: 120%;
        }

        &:hover {
            color: #5c62ec;
        }

        &:hover:after {
            animation: handwriting 0.2s linear forwards;
        }
    }
}

@keyframes handwriting {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .navigation {
        nav.nav {
            display: none;
        }
    }
}